/* styles.css */

/* Note: This file was created by prompting ChatGPT */

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.container {
    margin: 20px auto;
    max-width: 800px;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
    font-size: 2.5em;
    margin-top: 0;
    margin-bottom: 30px;
}

h2 {
    text-align: center;
    margin-top: 5px;
}

form {
    margin: 0 auto;
    max-width: 600px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: #f2f2f2;
}

label {
    display: inline-block;
    width: 200px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}

input[type="number"], select {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}


input[type="text"], input[type="password"], select {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #2ecc71;
    color: white;
    padding: 12px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em;
    transition: background-color 0.2s;
    margin-top: 10px;
}

p {
    text-align: center;
    font-size: 1.2em;
    margin-top: 20px;
    color: #333;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-align: left;
    font-size: 1.2em;
    margin-top: 20px;
    color: #333;
}

ul li {
    display: inline-block;
    margin-top: 10px;
    white-space: nowrap;
}

.error {
    color: red;
    margin-top: 15px;
}

.message {
    color: green;
    margin-top: 15px;
}

.redirect-link {
    font-size: 0.75em;
    display: block;
    text-align: center;
    margin-top: 25px;
    color: #333;
}

.result-section {
    font-size: 0.75em;
    text-align: left;
    display: inline-block;
    width: 200px;
    margin-top: 10px;
    margin-bottom: 5px;
    color: #333;
}

input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    max-width: 600px;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
