<!DOCTYPE html>

<html>
    <head>
        <title>PowerForecaster - Electricity Bill Amount Predictor</title>
        <link rel="stylesheet" type="text/css" href="static/styles.css">
    </head>
    <body>
        <div class="container">
            <h1><u>PowerForecaster</u></h1>
            <h2>Home Electricity Bill Amount Predictor</h2>
            <form action="/predictor" method="POST">
                <label for="num_rooms">Number of Rooms:</label>
                <input type="number" id="num_rooms" name="num_rooms" placeholder="Enter the number of rooms" required><br>
                
                <label for="num_people">Number of People:</label>
                <input type="number" id="num_people" name="num_people" placeholder="Enter the number of people" required><br>
                
                <label for="house_area">House Area:</label>
                <input type="number" id="house_area" name="house_area" placeholder="Enter the house area (in sq. ft.)" required><br>
                
                <label for="is_ac">AC (Yes/No):</label>
                <select id="is_ac" name="is_ac">
                    <option value="0">No</option>
                    <option value="1">Yes</option>
                </select>
                <br>
                
                <label for="is_tv">TV (Yes/No):</label>
                <select id="is_tv" name="is_tv">
                    <option value="0">No</option>
                    <option value="1">Yes</option>
                </select>
                <br>
                
                <label for="is_flat">Apartment (Yes/No):</label>
                <select id="is_flat" name="is_apartment">
                    <option value="0">No</option>
                    <option value="1">Yes</option>
                </select>
                <br>
                
                <label for="avg_monthly_income">Average Monthly Income:</label>
                <input type="number" id="avg_monthly_income" name="avg_monthly_income" placeholder="Enter the average monthly income" required><br>
               
                <label for="num_children">Number of Children:</label>
                <input type="number" id="num_children" name="num_children" placeholder="Enter the number of children" required><br>
                
                <label for="is_urban">Urban (Yes/No):</label>
                <select id="is_urban" name="is_urban">
                    <option value="0">No</option>
                    <option value="1">Yes</option>
                </select>
                <br>
                
                <input type="submit" value="Predict">
            </form>
        </div>
    </body>
</html>
